@font-face {
  font-family: Toram;
  src: url('/NonSpecificResources/font/moblaztrial.otf'),url(/NonSpecificResources/font/moblaztrial.ttf);
}

.body {
  /* top:10vw; */
  background-color: #ffffff;
  color: #DFBC85ff;
  font-family: 'Toram'; 
  background-image: url("/NonSpecificResources/Toram_BASE3_blur_tint.jpg"); /* Swap out to a faded out ver. */ /*Done*/
  background-attachment:fixed;
  background-repeat:no-repeat;
}



