@font-face {
  font-family: Toram;
  src: url('resources/font/moblaztrial.otf');
}
.image-container {
  z-index: 3;
  top:7%;
  position: fixed;
  width: 85%; /* Match your image width */
/* Match your image height */
}

.image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.image-container img.fill-image {
  height: 50px;
}
.image-container img.top-image {
  height: 5px;
  width: 93%;
  margin-left: 6%;
  margin-top: 2.5%;
}

.body {
  background-color: #ffffff;
  color: #DFBC85ff;
  font-family: 'Toram'; 
  background-image: url("/resources/Toram_BASE3_blur_tint.jpg"); /* Swap out to a faded out ver. */ /*Done*/
  background-attachment:fixed;
  background-repeat:no-repeat;
}


.overImageText {
 Display:none;
 color:#FEEDB7ff;
 position:absolute;
 bottom: 50px;
 text-align: center;
 font-size:3vw;
 font-family: 'Toram';
 
}

.head {
 font-family: 'Toram';
 font-size: 3em;
 margin:10px;
 color:#FEEDB7ff;
 text-shadow:0 0 4px #FEEDB7ff; /* x-axis y-axis glow color */
}

h2.head{
 font-size: 2.3em; 
}

h3.head{
 font-size: 1.65em;  
 padding: 5px 0; 
 margin:10px 2%
}
h4.head{
 font-size: 1.4em;  
}

#index>ul{
 font-size: 1.2em;
 margin:0 20px;
 font-family:'Toram';
}

h6.head{
 font-size: 1em;  
}


p {
 font-family: cursive, Georgia, Arial; 
 margin:1% 10% 1% 2%; /* Top Right Bottom Left */
 font-size: 19px;
 text-shadow : 0 0 15px  black;
}

li {
 font-family: cursive; 
}

a {
  color : inherit;
  text-decoration: none;
}

figure.weapons {
  margin: 1em;
}


img.weapons {
  width:100%;
  position:relative;
  left:10px;
  margin:auto;
  border-radius : 35px;
}

figcaption.weapons {
  text-align:center;

}

.weaponTextOverlayArea {
  text-align: left;
  position:relative;
  width:30%;
  margin:0.5em 1em;
  
}

.weaponsArea {
  text-align:center;
  Display:flex;
  flex-wrap: wrap;
}

.icon {
  width:64px;
}
.MainHeader {
  z-index: 3;
  position: sticky;
  top: 0;
  text-align: center;
  background-color: #A1713C;
  color: #F4DEB8;
  padding: 7px;
  overflow: hidden;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding: 15px;
  font-size: 20px;
}

.box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  text-decoration: none; /* remove underline */
  color: black;
  height: 40px;
  padding: 5px 10px;
  background-color: rgb(89, 108, 114);
  border: 1px solid #333;
  border-radius: 5px;
}

.box .contents img,
.box img.contents {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.box .contents {
  display: inline-block;
  text-align: center;
}

footer{
  text-align:center;
  background-color: #B7773Eff;
  color: #F4DEB8ff;
  padding:7px;
  position:relative;
  left:-7px;
  bottom: -11px;
  width:100%;
}

footer p{
  margin:0;
  padding:0;
}
