.PotumGiff{
right:0; top:0;position:fixed;z-index:5;width: 150px;
}
#leftTortamIcon{
  left: 0;
  z-index: 0;
  position: absolute;
  border-radius: 5px;
  margin-left: 1%;
}
#headerBgImage{
  left: 0;
  width: 100%;
  z-index: -1;
  position: absolute;
}

.MainHeader {
  z-index: 3;
  position: fixed;
  top: 0;
  text-align: center;
  color: #F4DEB8;
  padding: 7px;
  overflow: hidden;
  width: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding: 15px;
  font-size: 20px;
  margin-left: 5%;
}

.box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  text-decoration: none; /* remove underline */
  color: black;
  height: 40px;
  padding: 5px 10px;
  background-color: rgb(89, 108, 114);
  border: 1px solid #333;
  border-radius: 5px;
}

.box .contents img,
.box img.contents {
  width: 50px;
  height: 50px;
  object-fit: contain; /* Whats this about?? commenting it out changes*/
}

.box .contents {
  display: inline-block;
  text-align: center;
  color: white;
}