html, body {
  height: 100%;
  margin: 0;
}

.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content-wrap {
  flex: 1;
}


footer {
  position: relative;
  text-align: center;
  color: #F4DEB8ff;
  width: 100%;
  overflow: hidden;
}

footer p {
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 0;
  text-shadow: 0 0 4px rgb(0, 0, 0);
}
footer a{
  text-decoration: none;
  color: white;
}
#footerBgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}
