@font-face {
  font-family: Toram;
  src: url('resources/font/moblaztrial.otf');
}
.body {
  background-color: #ffffff;
  color: #DFBC85ff;
  font-family: 'Toram'; 
  background-image: url("/resources/Toram_BASE3_blur_tint.jpg"); /* Swap out to a faded out ver. */ /*Done*/
  background-attachment:fixed;
  background-repeat:no-repeat;
}
.MainBody{
    margin-top: 10%;
}
.overImageText {
 Display:none;
 color:#FEEDB7ff;
 position:absolute;
 bottom: 50px;
 text-align: center;
 font-size:3vw;
 font-family: 'Toram';
}

p {
 font-family: cursive, Georgia, Arial; 
 margin:1% 10% 1% 2%; /* Top Right Bottom Left */
 font-size: 19px;
 text-shadow : 0 0 15px  black;
}

figure.weapons {
  margin: 1em;
}


img.weapons {
  width:100%;
  position:relative;
  left:10px;
  margin:auto;
  border-radius : 35px;
}

figcaption.weapons {
  text-align:center;

}

.weaponTextOverlayArea {
  text-align: left;
  position:relative;
  width:30%;
  margin:0.5em 1em;
  
}

.weaponsArea {
  text-align:center;
  Display:flex;
  flex-wrap: wrap;
}

.icon {
  width:64px;
}

footer{
  text-align:center;
  background-color: #B7773Eff;
  color: #F4DEB8ff;
  padding:7px;
  position:relative;
  left:-7px;
  bottom: -11px;
  width:100%;
}

footer p{
  margin:0;
  padding:0;
}
