.overImageText {
 Display:none;
 color:#FEEDB7ff;
 position:relative;
 bottom: 100px;
 text-align: center;
 font-size:2vw;
 font-family: 'Toram';
}

figure.weapons {
  margin: 1em;
}


img.weapons {
  width: 100%;
  position:relative;
  margin:auto;
  display:block;
  border-radius : 35px;
}

img.weaponAura{
  position: absolute;
  top:130px;
  left: 35%;
  animation-name: AuraWobble;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: forward;
} 

@keyframes AuraWobble {
  0% {transform: rotate(initial);}
  50% {transform: rotate(180deg);}
  
}

@keyframes Weaponspin {
  0% {transform:rotate(initial)}
  100% {transform: rotate(360deg);}
}

img.weaponIcon {
  width:initial;
  position:absolute;
  top:125px;
  left:35%;
  transform-origin: 50% 50%;
  animation-name: Weaponspin;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

figcaption.weapons {
  text-align:center;
}

.weaponTextOverlayArea {
  text-align: left;
  position:relative;
  width:100%;
  margin:0.5em 1em;
}

.weaponsArea {
  text-align:center;
  display:grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows:500px;
  justify-content: center;
  height:800px;
}
