.overImageText {
 Display:none;
 color:#FEEDB7ff;
 position:relative;
 bottom: 100px;
 text-align: center;
 font-size:2vw;
 font-family: 'Toram';
}

img.weapons {
  width: 100%;
  position:relative;
  margin:auto;
  display:block;
  height:auto;
  border-radius : 35px;
}
img.weaponIcon{
        width: initial;
      position: absolute;
      top: 120px;
      left: 35%;
      transform-origin: 50% 50%;
}
img.weaponAura{
  position: absolute;
  top:120px;
  left: 36%;
  animation-name: AuraWobble;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: forward;
} 

@keyframes AuraWobble {
  0% {transform: rotate(initial);transform: scaleX(1);}
  50% {transform: rotate(180deg);}
  
}

@keyframes weaponSkillsAnim{
  0% {translate: 0%;}
  50% {translate: -30% -50%;}
  100%{translate: -60% -100%;}
}

.figcaptionText{
  text-align:center;
}

.weaponTextOverlayArea {
  text-align: left;
  position:relative;
  width:100%;
    max-height: 420px ;
  margin:0.5em 1em;
}

.weapons {
  display:grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows:400px;
  justify-content: center;
  height:800px;
}

.weaponSkillsParent{
  display:inline-block;
  position: relative;
  z-index: 2;
  top: 100px;
  left:20%;
}

.weaponSkillsHolder{
  position: absolute;
  display:block ;
  min-width: 100%;
      animation-name: weaponSkillsAnim;
  transform-origin: 10% 20%;
  animation-iteration-count:infinite;
  animation-direction: normal;
  animation-duration: 3s;
  animation-timing-function: linear;

}
.weaponSkill1{
  position:relative;
  max-width: 30px;
  left:13vw;
  top:5vw;
    /* animation-name: weaponSkillsAnim;
  transform-origin: 10% 20%;
  animation-iteration-count:infinite;
  animation-direction: normal;
  animation-duration: 3s;
  animation-timing-function: linear; */
}

.weaponSkill2{
  position:relative;
  max-width: 30px;
  left:6vw;
  bottom:5vw;
}

.weaponSkill3{
  position:relative;
  max-width: 30px;
  left:1vw;
  top:2vw;
}

